<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Film</title>
</head>
<body>
    <header ><img src="Sans titre.png" alt="" height="50px">
       
        <p>Movie-House</p>

    </header>
    <main id="mainindex">
        <nav class="nav"><p class="actuelle"> <a href="#" >Acceuil</a></p><p><a href="Films.php">Liste des films</a> </p><p><a href="AjoutFilm.html">Ajouter un film</a></p></nav>
       
  <p class="center2">Bienvenue sur votre site des film , </p><br>
  <p class="center2">vous pouvez trouvez sur SATURN MOVIE-HOUSE les films avec une description</p><br>
  <p class="center2">et une note </p>
 

    </main>
    <footer class="footer-main">
    </div>
 <h2 id="contactus">Contact Us</h2>
    <div >  
        
        <table class="table"  >
   <tr>
       <figure> 
           <td> </td>
           <td><img src="Logo/61045.svg" alt="githublogo" width="80" height="80">
            <figcaption> Facebook</figcaption></td> 
            <td> </td>
        
            <td> <img src="Logo/instagram-logo-A807AD378B-seeklogo.com.png" alt="linkedinlogo"width="70" height="80">
                <figcaption> Instagram</figcaption></td> 
           <td> </td>
           <td>  <img src="Logo/5ca98c73b2bb7a02bf8350933c7ca443.png" alt="codewarslogo"width="90" height="80">
            <figcaption> Twiter</figcaption></td> 
            <td> </td>
        </figure>
    </tr>
    </table>
    </div>
    </footer>
</body>
</html>

